[defaults]
deprecation_warnings = False
inventory = inventories/devnet.yml
host_key_checking = False
retry_files_enabled = False
timeout = 30
stdout_callback = default
result_format = yaml
bin_ansible_callbacks = True
interpreter_python = auto_silent
collections_path = ~/.ansible/collections:/usr/share/ansible/collections

[persistent_connection]
connect_timeout = 60
command_timeout = 60
