! Management services rendered from structured YAML data
{% for server in ntp_servers | sort %}
ntp server {{ server }}
{% endfor %}
!
{% for server in syslog_servers | default([]) %}
logging host {{ server }}
{% endfor %}
!
banner motd ^
{{ lab_banner }}
^
